<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <title>Notas</title>
</head>
<body>
<div class="container">
    <h1>Notas</h1>

    <form method="post">
        {% csrf_token %}
        {% if errors %}
            {{errors}}
            {% for error in errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="curso">Curso</label>
            </div>
            <select name="curso" class="custom-select" id="curso">
                {% for curso in cursos %}
                    <option value="{{curso.id}}"> {{curso.nombre}} </option>
                {% endfor %}
            </select>
        </div>
        {% for alumno in alumnos %}
            <h6>{{alumno.nombre}} {{alumno.apellido}}</h6>
            <div class="form-group mx-sm-3 mb-2">
                <label for="nota" class="sr-only">Nota</label>
                <input type="number" name="{{alumno.id}}" min="0" max="100" required class="form-control" id="nota" placeholder="Nota">
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Guardar notas</button>
    </form>
</div>
</body>
</html>